body {
	background-color: #C7B6CB;
	font-family: 'Oxygen', sans-serif;
}

#game {
	width: 35em;
	margin: 0 auto;
	padding-top: 2%;
}

#board {
	width: 100%;
	height: 35em;
	margin: 0 auto;
	background-color: #1E253D;
	border-radius: 3%;
	position: relative;
}

#tiles {
	width: 96%;
	height: 96%;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
	color: white;
	position: relative;
	top: 2%;
	left: 2%;
}

.tile {
	width: 23%;
	height: 23%;
	margin: 1%;
	background-color: #374364;
	border-radius: 3%;
	position: relative;
	float: left;
}

.tile span {
	position: relative;
	top: 15%;
}

.tile .small-text {
	font-size: 0.75em;
	top: 12%;
}

#message-box {
	width: 100%;
	height: 1em;
	text-align: center;
	color: #374364;
}

#menu {
	width: 100%;
	margin-top: 1em;
	text-align: center;
	font-weight: bold;
}

#title {
	font-size: 4em;
	color: #1E253D;
}

#credit {
	font-size: 0.2em;
	position: relative;
	top: -0.75em;
}

#credit a {
	text-decoration: none;
	color: #374364;
	opacity: 0.4;
}

#credit a:hover {
	opacity: 1.0;
}

@media screen and (max-width: 767px), screen and (max-height: 767px) {
	#game {
		width: 25em;
	}

	#board {
		height: 25em;
	}

	#tiles {
		font-size: 2.8em;
	}
}

@media screen and (max-width: 480px), screen and (max-height: 600px) {
	#game {
		width: 18em;
	}

	#board {
		height: 18em;
	}

	#tiles {
		font-size: 2em;
	}

	#title {
		font-size: 3em;
	}
}
