body {
	background-color: #C7B6CB;
	font-family: 'Oxygen', sans-serif;
}

#game {
	width: 8.75em;
	margin: 0 auto;
	font-size: 4em;
	font-weight: bold;
	padding-top: 2%;
}

#board {
	width: 100%;
	height: 8.75em;
	margin: 0 auto;
	background-color: #1E253D;
	border-radius: 3%;
	position: relative;
}

#result-box {
	width: 100%;
	height: 100%;
	color: white;
	font-size: 1em;
	display: none;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}

#result-background {
	width: 100%;
	height: 100%;
	border-radius: 3%;
	opacity: 0.8;
}

#result-message {
	width: 80%;
	height: 15%;
	font-size: 1em;
	text-align: center;
	position: absolute;
	top: 20%;
	left: 10%;
}

#result-tile-container {
	width: 100%;
	height: 23%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 40%;
}

#result-tile {
	width: 23%;
	height: 100%;
	border: solid 0.1em white;
	font-size: 1em;
	display: inline-block;
}

.result-button {
	width: 30%;
	height: 8%;
	border: none;
	font-size: 0.35em;
	color: white;
	background-color: #1E253D;
	opacity: 0.8;
	display: none;
	position: absolute;
	top: 72%;
	left: 35%;
}

.result-button:active {
	top: 72.2%;
	background-color: black;
}

#tiles {
	width: 96%;
	height: 96%;
	font-size: 1em;
	text-align: center;
	color: white;
	position: relative;
	top: 2%;
	left: 2%;
}

#tiles .tile {
	width: 23%;
	height: 23%;
	margin: 1%;
	background-color: #374364;
	border-radius: 3%;
	position: relative;
	float: left;
}

.tile span, #result-tile span {
	height: 100%;
	width: 100%;
	display: block;
	line-height: 1.8;
	position: relative;
}

.tile .small-text, #result-tile .small-text {
	font-size: 0.75em;
	line-height: 2.4;
}

.tile .smallest-text, #result-tile .smallest-text {
	font-size: 0.65em;
	line-height: 2.7;
}

#message-box {
	width: 100%;
	height: 1em;
	margin-top: 0.2em;
	font-size: 0.3em;
	text-align: center;
	color: #374364;
}

#menu {
	width: 100%;
	font-size: 1em;
	text-align: center;
	color: #1E253D;
	margin-top: 0.2em;
	overflow: auto;
}

#restart {
	width: 30%;
	font-size: 0.9em;
	float: left;
	position: relative;
	top: 0.25em;
}

#simulate {
	width: 30%;
	opacity: 0.2;
	float: right;
	position: relative;
	top: 0.15em;
}

#title {
	width: 40%;
	display: inline-block;
	float: left;
	position: relative;
	left: 0.1em;
}

#credit {
	font-size: 0.2em;
	position: relative;
	top: -0.75em;
}

#credit a {
	text-decoration: none;
	color: #374364;
	opacity: 0.4;
}

#credit a:hover {
	opacity: 1.0;
}

@media screen and (max-height: 768px) and (orientation: landscape) {
	#game {
		font-size: 3em;
	}
}

@media screen and (max-width: 480px) and (orientation: portrait) {
	#game {
		font-size: 2em;
	}
}
